@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.modaly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  color: black;
}

.appBody {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  margin-top: 50px;
}

.currencyInputField {
  color: grey;
}

.appNav {
  margin: 0 16px 0 0;
}

.rightNav {
  float: right;
}

.pageButtonBold {
  font-weight: 800;
}

.buttonContainer {
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
}

.buttonContainerTop {
  margin-left: 175px;
}

.connectButton {
  background-color: rgb(253, 234, 241) !important;
  border-radius: 16px !important;
  border: 1px solid #fff !important;
  color: rgb(213, 0, 102) !important;
}

.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.connectButton:hover {
  border-color: rgb(213, 0, 102) !important;
}

.hoverBold:hover {
  font-weight: 800;
}

.swapHeader {
  text-align: left;
  padding: 4px 20px 0px 20px;
}

.swapText {
  color: #000;
  font-size: 20px;
}

.gearContainer {
  float: right;
  font-size: 22px
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
  margin: 10px !important;
  padding: 10px;
  border-radius: 20px;
}
.currencyInput:hover {
  border-color: #65cdee !important;
  border: 1px solid;
}
::placeholder {
  opacity: 0.25;
}
.numberContainer {
  display: flex;
  color: grey;
}
.spinnerContainer {
  height: 55px;
  line-height: 55px;
}
.currencyInputField {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none;
}
.tokenContainer {
  text-align: right;
}
.tokenName {
  font-size: 28px;
  display: block;
  color: #000;
}
.balanceContainer {
  display: block;
}
.balanceAmount {
  width: 100%;
  font-size: 16px;
  display: inline;
  color: #000;
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}


/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
  margin: 10px;
}
.swapButton {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer
}

/******************************************************************************/
/* Config Modal */

.modaly {
  position: fixed;
  left: 0;
  top: -510px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);

}

.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}

.modalTitle {
  margin: auto;
}

.titleHeader {
  margin-left: -12px;
}
.labelField {
  padding-left: 0px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}

.swapContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swapContent {
  width: 20svw;
  height: auto;
  padding-bottom: 50px;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.swapHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
}

.sweet-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.symbol-select {
  border: none;
  background-color: whitesmoke;
}

.investment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensures vertical centering if necessary */
  max-width: 100vw;
  /* Full viewport width */
  padding: 20px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* Ensures padding is included in the width/height */
  overflow: hidden;
}

.test {
  margin: 0 auto;
  text-align: center;
}

.mct-chart {
  margin-top: 150px !important;
  width: 80svw;
  background-color: white;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 1408px) {
  .swapContent {
    width: 90svw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .investment-container {
    flex-direction: column;
    /* Stack content vertically on smaller screens */
    padding: 10px;
  }

  .mct-chart {
    width: 95svw;
  }

  
}

.bg-image {
  background-image: url(./assets/BG_DB.jpg);
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}


.investment-card {
  width: 80svw;
}

.App {
  width: 100svw;
  height: 100svh;
  background-color: black;
}

@keyframes moveAndResizeMobile {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translate(-100px, -250px) scale(0.7);
    /* Move left and resize to 70% */
    z-index: 1;
  }
}

@keyframes returnToOriginalMobile {
  0% {
    transform: translate(-100px, -250px) scale(0.7);
    /* Move left and resize to 70% */
    z-index: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    /* Return to original position and size */
  }
}

@keyframes moveAndResizeDesktop {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translateX(-500px) scale(0.7);
    /* Move left and resize to 50% */
  }
}

@keyframes returnToOriginalDesktop {
  0% {
    transform: translateX(-500px) scale(0.7);
    /* Move left and resize to 50% */
  }

  100% {
    transform: translateX(0) scale(1);
    /* Return to original position and size */
  }
}

.globeAnimation {
  animation: moveAndResize 1.5s forwards;
  /* Animation to move and resize */
}

#root {}

.globeAnimation.return {
  animation: returnToOriginal 1.5s forwards;
  /* Animation to return to original */
}

.logo-glow {}

a {
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Add transition */
}

a:hover {
  background-color: unset !important;
}

select {
  background-color: #ffffff;
  /* Default background color for light mode */
  color: #000000;
  /* Text color for light mode */
  border: 1px solid #ccc;
  /* Border style */
  border-radius: 4px;
  /* Rounded corners */
  padding: 10px;
  /* Padding for aesthetics */
  appearance: none;
  /* Remove default arrow */
}

.custom-confirm-button {
  background-color: #2dfa41;
  /* Light blue background */
  color: white;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.remove a {
  text-decoration: none;
  /* Remove underline from link */
  font-size: 1.2rem;
  /* Responsive font size */
}

.custom-cancel-button {
  background-color: orangered;
  /* Orangered background */
  color: white;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-confirm-button:hover {
  background-color: #2dfa41;
  /* Darker blue on hover */
}

.custom-cancel-button:hover {
  background-color: #ff4500;
  /* Darker orangered on hover */
}


/* For dark mode */
@media (prefers-color-scheme: dark) {
  select {
    background-color: #ffffff;
    /* Background color for dark mode */
    color: #000000;
    /* Text color for dark mode */
    border: 1px solid #555555;
    /* Darker border for dark mode */
  }
}

.introducing {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 25px rgba(173, 216, 230, 0.7),
    0 0 50px rgba(173, 216, 230, 0.5);
}

.footer {
  position: absolute;
  /* Keeps the footer at the bottom of the screen */
  bottom: 0;
  /* Positions it at the bottom */
  left: 0;
  /* Aligns it to the left */
  width: 100%;
  /* Makes the footer span the full width */
  height: 100px;
  /* Sets the height of the footer */
  display: flex;
  /* Center content */
  align-items: center;
  /* Vertically centers the content */
  justify-content: center;
  /* Horizontally centers the content */
  color: white;
  /* Text color */
  font-size: 16px;
  /* Text size */
}

.roadmap1 {
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.footer-icons {
  display: flex;
  /* Use flexbox for layout */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100%;
  /* Fill the footer height */
}

.test {
  background-image: url("./assets/2222.jpg");
}

.footer-icons a {
  margin: 0 15px;
  /* Spacing between icons */
  color: white;
  /* Icon color */
  font-size: 24px;
  /* Size of the icons */
  transition: color 0.3s;
  /* Smooth color transition on hover */
}

.footer-icons a:hover {
  color: #5c3aff;
  /* Change color on hover */
}

/* Media Query for mobile devices */
@media screen and (max-width: 600px) {
  .globeAnimation {
    animation: moveAndResizeMobile 1.5s forwards;
    /* Use mobile animation */
    z-index: 9;
  }
}

@media screen and (min-width: 601px) {
  .globeAnimation {
    animation: moveAndResizeDesktop 1.5s forwards;
    /* Use desktop animation */
    z-index: 9;
  }
}

.wallet-card {
  flex: 1 1 calc(20%);
  /* 3 cards per row with gap */
  min-width: 20%;
  /* Adjust this value based on your card width */
  box-sizing: border-box;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Change the color as needed */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* For mobile screens */
@media (max-width: 768px) {
  .wallet-card {
    flex: 1 1 100%;
    /* 1 card per row */
  }

  .investment-card {
    width: 90svw;
  }

  .wallet-container {
    justify-content: center;
  }
}

* {
  scroll-behavior: smooth;
}

.wallet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#dashboard {
  min-height: auto;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  width: 100vw;
  /* Optional: sets container width to full viewport width */
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.history-tl-container {
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: block;
  position: relative;
  font-size: 14x;
}

.history-tl-container ul.tl {
  color: white;
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  color: white;
  list-style: none;
  margin: auto;
  margin-left: 100px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86d6ff;
  padding: 0 0 20px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: 0px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {}

ul.tl li .item-detail {
  color: white;
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -55%;
  text-align: right;
  font-size: 12px;
}
